body{
    background-color:#eee;              
}

#over1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: visible;
}

#over2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;
}

#over3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}

#over4 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
}













