body{
    background-color:#f3f4f6;                  
}


.grid {
    display: grid;
    grid-template-areas: "header header"
                         "content sidebar"
                         "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    grid-auto-rows: 140px;
    grid-auto-flow: row;

    /* 
    Para alinear todos los elementos de la GRID usamos 
    items
    
    justify-items: stretch;
    align-items: end; 
    */
}

.header {
    grid-column: col-inicio / col-fin 3;
    grid-row: row-inicio / row-fin 3;
}

.red {
    background-color: red;
}

.item-1 {
    border: 1px solid blue;
    /* Para justificar 1 solo elemento usamos lo siguiente 
        en caso de que, querramos usar el 100%, debemos
        indicarlo con el atributo stretch
    */
    justify-self: center;
    align-self: center;
}

